[submodule "sigma.js"]
	path = sigma.js
	url = git://github.com/jacomyal/sigma.js.git
[submodule "cardinal-spline-js"]
	path = cardinal-spline-js
	url = git://github.com/epistemex/cardinal-spline-js.git
