<link rel='stylesheet' href='/stylesheets/html2graph.css' />
{{!-- <script src="/javascripts/sigma/sigma.js"></script> --}}
<script src="/javascripts/sigma/sigma.min.js"></script>
<script src="/javascripts/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
<script src="/javascripts/sigma/plugins/sigma.layout.noverlap.min.js"></script>
<script src="/javascripts/sigma/plugins/sigma.plugins.animate.min.js"></script>
<div class="html2graph-info" >
    <h3>{{{hud}}}</h3>
    <div>
        <p id="html2graph-status">Started ForceAtlas2</p>
        <!-- <p>
            <button class="myButton" onclick="stopAtlas()">Stop the Atlas</button>
        </p> -->
        <p class="attribution">
            <em>...made by <a href="https://twitter.com/tsoukn">tsouk</a> with <a href="http://sigmajs.org/">sigma.js</a></em>
        </p>
    </div>
</div>
<div id="container">
    <div id="graph-container"></div>
</div>
<script src="/javascripts/getUrlAndParseJson.js"></script>
<script src="/javascripts/sigma/html2sigma.js"></script>
<script>
  var graphInit = {
    sigma: window.sigma,
    graphSettings: {
      //defaultNodeType: 'border',
      //defaultEdgeType: 'curve',
      rescaleIgnoreSize: false,
      autoRescale: true,
      drawLabels: false,
      drawEdges: true,
      sideMargin: 10
    },
    graphContainer: 'graph-container',
    status: 'html2graph-status'
  }
  window.getUrlAndParseJson( '/html2graphJSON?url={{url}}', window.html2sigma, graphInit);
</script>