<h1>{{title}}</h1>
<form action="/html2graph/{{flavour}}" method="post">
  <div class="myRadioGroup">
    <input type="radio" id="in3d" name="dimensions" value="3d" checked="checked">
    <label for="in3d">3d graph <em>using <a href="https://github.com/anvaka/ngraph">ngraph</a></em></label>

    <input type="radio" id="in2d" name="dimensions" value="2d">
    <label for="in2d">2d graph <em>using <a href="https://github.com/jacomyal/sigma.js">sigma</a></em></label>

    <input type="radio" id="island" name="dimensions" value="island">
    <label for="island">island! <em>(very experimental)</em></label>
  </div>
  <input class="myButton" type="submit" value="show me!">
  <input class="myInput" type="text" name="url">
</form>