<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}} - by Nikos Tsouknidas using ngraph</title>
  <style>
    body {
      width: 100%;
      height : 100%;
      position: absolute;
      overflow: hidden;
      padding: 0;
      margin: 0;
    }
  </style>
</head>
<body>
  <script src="javascripts/ngraph.pixel.basic/bundle.js"></script>
  <script src="javascripts/getUrlAndParseJson.js"></script>
  <script>
    var graphOptions = {};
    window.getUrlAndParseJson('/html2graphJSON?url=www.bbc.co.uk/gel', window.start3dgraph, graphOptions );
    //window.getUrlAndParseJson({{url}}, window.start3dgraph );
  </script>
</body>
</html>