<h1>{{title}}</h1>
<ul>
  <li>Visualization of web pages as <a href="/html2graph">2d & 3d graphs and as landscapes</a>.</li>
  <li><a href="https://medium.com/@tsouk/mapping-the-archipelago-of-the-web-1dd291eb7319">Article: Mapping the archipelago of the Web</a><br>Traversable 3D representations of the web using generative algorithms</li>
</ul>
<h2>Other things I do</h2>
<p>If you're looking for the sketches, the comic books, and the videos</p>
<ul>
  <li><a href="http://www.ilandcomic.co.uk/"><strong>iland</strong> cyclad-punk comic in alternative 1830s</a></li>
  <li><a href="https://tsouk.wordpress.com/">i wished i could draw</a> wordpress blog</li>
  <li><a href="https://www.youtube.com/user/theunderscorephx/videos">youtube videos</a></li>
  <li><a href="https://www.instagram.com/tsouk.n/">instagram</a></li>
  <li><a href="https://www.facebook.com/n.tsouk">facebook page</a></li>
</ul>