<h1>{{title}}</h1>
<ul>
    <li><a href="/html2graph">see any webpage as a Force Directed Graph</a>! :: made with <a href="http://sigmajs.org/">sigma.js</a></li>
    <li><a href="/html2graph/hanami">see any webpage as a Hanami Graph</a>! :: made with <a href="http://sigmajs.org/">sigma.js</a></li>
</ul>
<h2>Other things I do</h2>
<p>If you're looking for the sketches, the comic books, and the videos</p>
<ul>
    <li><a href="https://tsouk.wordpress.com/">i wished i could draw</a> :: wordpress</li>
    <li><a href="https://www.youtube.com/user/theunderscorephx/videos">youtube videos</a></li>
    <li><a href="https://www.instagram.com/tsouk.n/">instagram</a></li>
    <li><a href="https://www.facebook.com/n.tsouk">facebook page</a></li>
</ul>